body {
    margin     : 0;
    font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
    font-size  : 14px;
    line-height: 1;
    user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin     : 0;
    font-size  : 100%;
    font-weight: normal;
}

ul,
ol {
    list-style: none;
    margin    : 0;
    padding   : 0;
}

p,
dl,
dd {
    margin: 0;
}

img {
    vertical-align: middle;
    border        : none;
}

a {
    text-decoration: none;
    color          : #000;
}

strong,
b {
    font-weight: normal;
}

i,
em {
    font-style: normal;
}

table {
    border-collapse: collapse;
}

th {
    font-weight   : normal;
    text-align    : left;
    vertical-align: top;
}

td {
    vertical-align: top;
}

input {
    margin     : 0;
    padding    : 0;
    border     : none;
    font-family: inherit;
    outline    : none;
}

textarea {
    resize: none;
    /*禁止用户重置元素大小 */
    overflow   : auto;
    font-family: inherit;
}

.clearfix::after {
    content: "";
    display: block;
    clear  : both;
}

.clearfix {
    *zoom: 1;
}

.dot1 {
    display         : inline-block;
    width           : 7px;
    height          : 7px;
    border          : 1px solid #afafaf;
    border-radius   : 50%;
    background-color: #afafaf;
    margin          : 0 10px;
}

.dot2 {
    display         : inline-block;
    width           : 7px;
    height          : 7px;
    border          : 1px solid #e1e1e1;
    border-radius   : 50%;
    background-color: #e1e1e1;
    margin          : 0 10px;
}

.dot {
    text-align: center;
    height    : 38px;
    margin-top: 15px;
}

.bg {
    background: url(../images/bg_detail.jpg) no-repeat;
}

.Warp {
    width : 1200px;
    margin: 0 auto;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

/* 三类vip */
.forvip {
    width     : 76px;
    height    : 20px;
    background: url(../images/image/vip-tips.png) 0 -20px;
}

.vipfree {
    width     : 72px;
    height    : 20px;
    background: url(../images/image/vip-tips.png) -110px 0;
}

.vippay {
    width     : 100px;
    height    : 20px;
    background: url(../images/image/vip-tips.png) 0 0;
}